<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Altkart - Making Digital Currencies usable for Business</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Altkart</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">Dashboard</h1>
                
                <div class="row center">
                    <h4><%= data.email %></h4>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="img/background1.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

            <!-- Switch -->
            <button class="btn" onclick="twofa()" id="btn">Get 2FA</button>
            <div id="secretkey"></div>
            <button class="btn" onclick="disabletwofa()" id="btn">DISABLE 2FA</button>
            <div id="disable"></div>
            <!--   Icon Section   -->
            <div class="row" style="min-height:600px">
                <div class="col s12">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab col s3"><a href="#tab1">Deposit History</a></li>
                        <li class="tab col s3"><a class="active" href="#tab2">Withdrawl History</a></li>
                        <li class="tab col s3"><a href="#tab3">Holdings</a></li>
                        <li class="tab col s3"><a href="#tab4">KYC</a></li>
                    </ul>
                </div>
                <div id="tab1" class="col s12">
                    <h3 class="center"></h3>
                    <table class="striped">
                        <thead>
                            <tr><th>Date of deposit</th><th>Currency</th></tr>
                        </thead>
                        <tbody>
                            <% for(let i=0 ; i<data.deposit_history.length ; i++){ %>
                            <tr><td><%= data.deposit_history[i].date %></td><td><%= data.deposit_history[i].currency %></td></tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div id="tab2" class="col s12">
                    <h3 class="center"></h3>
                    <table class="striped">
                        <thead>
                            <tr><th>Currency</th><th>Value</th><th>Quantity</th></tr>
                        </thead>
                        <tbody>
                            <% for(let i=0 ; i<data.wallet.length; i++){ %>
                            <tr><td><%= data.wallet[i].currency %></td><td><%= data.wallet[i].value %></td><td><%= data.wallet[i].quantity %></td></tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div id="tab3" class="col s12">
                    <h3 class="center"></h3>
                    <table class="striped">
                        <thead>
                            <tr><th>Currency</th><th>Total Value</th><th>Current BTC Value</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>XRP</td><td>344880</td><td>18.71848271</td></tr>
                            <tr><td>SC</td><td>9150000</td><td>8.89768875</td></tr>
                            <tr><td>ADA</td><td>280000</td><td>5.15645900</td></tr>
                            <tr><td>BAT</td><td>159975.74023</td><td>5.8273600</td></tr>
                        </tbody>
                    </table>
                </div>
                <div id="tab4" class="col s12">
                    <div class="row">
                        <div class="col s4">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">No Verification</span>
                                    <p>&nbsp;</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">$0</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">KYC Verification</span>
                                    <p>In progress</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">$500</a>
                                </div>
                            </div>   
                        </div>
                        <div class="col s4">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">Physical Verification</span>
                                    <p>Can be done after KYC verification</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">$25000</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="img/background2.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Contact Us</h4>
                    <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien
                        id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed
                        ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="img/background3.jpg" alt="Unsplashed background img 3"></div>
    </div>

    <% include ../../views/footer %>

    <script>
        function twofa(){
            $.ajax({
                url:'/2fa/enable',
                method:"POST",
                dataType:"json",
                success:function(data){
                    console.log(data);
                    $('#secretkey').html('<img src='+data.image+' /><input id="verify" type="text" placeholder="verify" /><button class="btn" onclick="verify()">Verify</button>');
                },
                error:function(err){
                    console.log(err);
                }
            });
        }

        function verify(){
            $.ajax({
                url:'/2fa/verify',
                method:"POST",
                dataType:"json",
                data:{data:$('#verify').val()},
                success:function(data){
                    console.log(data);
                    $('#secretkey').html(data.message);
                },
                error:function(err){
                    console.log(err);
                }
            });
        }

        function disabletwofa(){
            $('#disable').html("<form method='POST' action='/2fa/disable'><input type='text' placeholder='Enter OTP to disable 2FA' name='disableotp' /></form>");
        }
    </script>
</body>

</html>