<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Altkart - Making Digital Currencies usable for Business</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Altkart</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">Dashboard</h1>
                
                <div class="row center">
                    <h5><%= data.fullname %></h5>
                    <h5><%= data.email %></h5>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="img/background1.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div style="margin-left:10px;margin-right:10px">
        <div class="section">


            <div id="modal-withdrawl" class="modal">
                <div class="modal-content">
                    <h4>KYC Pending</h4>
                </div>
                <div class="modal-footer">
                    <button class="modal-close waves-effect waves-green btn-flat">Close</button>
                </div>
                
            </div>

            
            <!--   Icon Section   -->
            <div class="row" style="min-height:600px">
                <div class="col s12">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab col s3"><a class="active" href="#tab1">Holdings</a></li>
                        <li class="tab col s3"><a href="#tab2">Deposit History</a></li>
                        <li class="tab col s3"><a href="#tab3">Withdrawl History</a></li>
                        <li class="tab col s3"><a href="#tab4">Settings</a></li>
                    </ul>
                </div>
                <div id="tab1" class="col s12">
                    <h3 class="center"></h3>
                    <table class="striped responsive-table">
                        <thead>
                            <tr><th>Currency Name</th><th>Symbol</th><th>Available Amount</th><th>Reserved Amount</th><th>Total Amount</th><th>Current BTC Value</th></tr>
                        </thead>
                        <tbody>
                            <% for(let i=0; i<data.wallet.length; i++) { %>
                                <tr><td><%= data.wallet[i].name %></td><td><%= data.wallet[i].currency %></td><td><%= data.wallet[i].quantity%></td><td>0.00000</td><td><%= data.wallet[i].quantity %></td><td><%= data.wallet[i].value %></td><td><button class="btn modal-trigger" href="#modal<%= i %>">Deposit</button>&nbsp;<button class="btn modal-trigger" href="#modal-withdrawl">Withdrawl</button>
                                <div id="modal<%= i %>" class="modal">
                                <div class="modal-content">
                                    <h4>Address</h4>
                                    <P><%= data.wallet[i].address %></p>
                                </div>
                                <div class="modal-footer">
                                    <button class="modal-close waves-effect waves-green btn-flat">Close</button>
                                </div>
                                </div></td></tr>
                                
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div id="tab2" class="col s12">
                    <h3 class="center"></h3>
                    <table class="striped">
                        <thead>
                            <tr><th>Currency Name</th><th>Symbol</th><th>Amount</th><th>Quantity</th><th>Date of deposit</th></tr>
                        </thead>
                        <tbody>
                            <% for(let i=0 ; i<data.deposit_history.length; i++){ %>
                            <tr><td><%= data.deposit_history[i].name %></td><td><%= data.deposit_history[i].currency %></td><td><%= data.deposit_history[i].value %></td><td><%= data.deposit_history[i].quantity %></td><td><%= data.deposit_history[i].date %></td></tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div id="tab3" class="col s12">
                    <h3 class="center"></h3>
                    <table class="striped">
                        <thead>
                            <tr><th>Currency</th><th>Quantity</th><th>BTC Value</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>No Withdrawls</td></tr>
                        </tbody>
                    </table>
                </div>
                <div id="tab4" class="col s12">
                    <div class="container">
                    
                    <div class="row">
                    </div>
                    <!-- Switch -->
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">filter_drama</i>Two-Factor Authentication</div>
                            <div class="collapsible-body">
                                <h5>Two-Factor Authentication Status : <%= data.otp_enabled?"Enabled":"Disabled" %></h5>
                                <%- data.otp_enabled?'<button class="btn" onclick="disabletwofa()" id="btn">DISABLE 2FA</button><div id="disable"></div>':'<button class="btn" onclick="twofa()" id="btn">Enable 2FA</button><div id="secretkey"></div>' %>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">place</i>KYC</div>
                            <div class="collapsible-body">
                                    <div class="row">
                                <h5>KYC</h5>
                                <div class="col s4">
                                    <div class="card">
                                        <div class="card-content">
                                            <span class="card-title">No Verification</span>
                                            <p>&nbsp;</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">$0</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s4">
                                    <div class="card">
                                        <div class="card-content">
                                            <span class="card-title">KYC Verification</span>
                                            <p>In progress</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">$500</a>
                                        </div>
                                    </div>   
                                </div>
                                <div class="col s4">
                                    <div class="card">
                                        <div class="card-content">
                                            <span class="card-title">Physical Verification</span>
                                            <p>Can be done after KYC verification</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#">$25000</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">whatshot</i>Reset Password</div>
                            <div class="collapsible-body">
                                <div class="input-field">
                                    <input type="password" name="password" />
                                    <label for="password">Old Password</label>
                                </div>
                                <div class="input-field">
                                    <input type="password" name="password" />
                                    <label for="password">New Password</label>
                                </div>
                                <div class="input-field">
                                    <input type="password" name="password" />
                                    <label for="password">Confirm new password</label>
                                </div>
                                <button class="btn">Change Password</button>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">access_alarm</i>Notifications</div>
                            <div class="collapsible-body">
                                <p>
                                    <label>
                                        <input type="checkbox" />
                                        <span>Enable Notifications</span>
                                    </label>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
</div>
        </div>
    </div>



    <% include ../../views/footer %>

    <script>
        function twofa(){
            $.ajax({
                url:'/2fa/enable',
                method:"POST",
                dataType:"json",
                success:function(data){
                    console.log(data);
                    $('#secretkey').html('<img src='+data.image+' /><input id="verify" type="text" placeholder="verify" /><button class="btn" onclick="verify()">Verify</button>');
                },
                error:function(err){
                    console.log(err);
                }
            });
        }

        function verify(){
            $.ajax({
                url:'/2fa/verify',
                method:"POST",
                dataType:"json",
                data:{data:$('#verify').val()},
                success:function(data){
                    console.log(data);
                    $('#secretkey').html(data.message);
                },
                error:function(err){
                    console.log(err);
                }
            });
        }

        function disabletwofa(){
            $('#disable').html("<form method='POST' action='/2fa/disable'><input type='text' placeholder='Enter OTP to disable 2FA' name='disableotp' /></form>");
        }
    </script>
</body>

</html>